body {
    background-image: url(/images/body-bg.png);  
    background-attachment: fixed;
    background-position: 50% 50%;
}

// 顶部黑线
.headband {
    display: none;
}

// 侧边顶部栏
.header-inner {
    margin-top: 10px;
    background: rgba(255,255,255,0.9);
}

// 侧边头像栏
.sidebar{
    border-radius: 10px; //边框圆角
    opacity: .9;
}

// 文章
.main {
    padding-top: 10px;
}